<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro | Cadastro</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/" class="nav-logo">CATÁLOGO CERVEJEIRO</a>
            </div>
            <div class="nav-right">
                <a href="/">Home</a> 
                <a href="/cadastro">Cadastrar</a>
                <a href="/sobre">Sobre</a>
            </div>
        </nav>
        <div class="header">
            <h1>Cadastro</h1>
        </div>
    </header>
    <section class="form-beer">
        <form action="/cadastro" method="POST">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome" placeholder="Nome da cerveja" required>
            </div>
            <div>
                <label for="tipo">Tipo: </label>
                <select name="tipo" required>
                    <option selected hidden>Tipo da cerveja</option>
                    <option value="IPA">IPA</option>
                    <option value="Lager">Lager</option>
                    <option value="Weiss">Weiss</option>
                    <option value="Ale">Ale</option>
                    <option value="Pilsen">Pilsen</option>
                    <option value="Outro">Outro</option>
                  </select>
            </div>
            <div>
                <label for="ibu">IBU: </label>
                <input type="text" name="ibu" id="ibu" placeholder="IBU da cerveja" required>
            </div>
            <div>
                <label for="teor alcoolico">Teor alcoólico: </label>
                <input type="number" name="teor alcoolico" id="teor alcoolico" placeholder="Teor alcoólico da cerveja" required>
            </div>
            <div>
                <label for="fabricante">Fabricante: </label>
                <input type="text" name="fabricante" id="fabricante" placeholder="Fabricante da cerveja" required>
            </div>
            <button type="submit">Desce outra!</button>
        </form>
    </section>
</body>
</html>