<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro | Editar</title>
</head>
<body>
    <nav>
        <a href="/" class="nav-logo">
            <img src="URL_DO_LOGO" alt="">
        </a>
        <div class="nav-menu">
            <a href="/">Home</a>
            <a href="/cadastro">Cadastrar</a>
            <a href="/sobre">Sobre</a>
        </div>
    </nav>
<header>
        <h1>Catálogo Cervejeiro</h1>
</header>
    
</body>
</html>