<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/" class="nav-logo">CATÁLOGO CERVEJEIRO</a>
                <img src="/img/LOGO.png">
            </div>
            <div class="nav-right">
                <a href="/">Home</a> 
                <a href="/cadastro">Cadastrar</a>
                <a href="/sobre">Sobre</a>
            </div>
        </nav>
        <% if(message != "") {  %>
            <section id="message">
                <p><%= message %></p> <span id="close">&times;</span>
            </section>
        <% }  %>
    
    </header>
    <section>
        <div class="header">
            <img src="/img/LOGO 2.png">
            <h1>Bem-vindo ao catálogo cervejeiro!</h1>
            <h3>Escolha sua cerveja</h3>
        </div>
        <article id="lista">
            <% cervejas.forEach(item => { %>
                <a class="card" href="/detalhes/<%= item.id %>">
                    <% if(item.tipo == "IPA") {  %>
                        <img src=/img/IPA.png>
                    <% } else if(item.tipo == "Ale") {  %>
                        <img src=/img/Ale.png>
                    <% } else if(item.tipo == "Lager") {  %>
                        <img src=/img/Lager.png>
                    <% } else if(item.tipo == "Pilsen") {  %>
                        <img src=/img/Pilsen.png>
                    <% } else if(item.tipo == "Weiss") {  %>
                        <img src=/img/Pilsen.png>
                    <% } else if(item.tipo == "Outro") { %>
                        <img src=/img/Outro.png>
                    <% } %>

                    <h1>
                        <%= item.nome %>
                    </h1>
                    <h3>
                        <%= item.tipo %>
                    </h3>
                </a>
            <% }) %> 
        </article>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>