<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro</title>
</head>
<body>
    <nav>
        <a href="/" class="nav-logo">
            <h1>CATÁLOGO CERVEJEIRO</h1>
        </a>
        <ul class="nav-menu">
            <li>
                <a href="/">Home</a>    
            </li>
            <li>
                <a href="/cadastro">Cadastrar</a>
            </li>
            <li>
                <a href="/sobre">Sobre</a>
            </li>
        </ul>
    </nav>
<header>
        <h1>Catálogo Cervejeiro</h1>
</header>

    
</body>
</html>