<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Catálogo Cervejeiro | Editar</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/" class="nav-logo">CATÁLOGO CERVEJEIRO</a>
                <img src="/img/LOGO.png">
            </div>
            <div class="nav-right">
                <a href="/">Home</a> 
                <a href="/cadastro">Cadastrar</a>
                <a href="/quem-somos">Quem Somos</a>
            </div>
        </nav>
    </header>
    <section class="about">
        <div class="card-about">
            <div class="card-info">
                <img src="/img/Perfil-Felipe.jpeg">
                <h2>Felipe Wrany</h2> 
            </div>
            <div class="card-social">
                <a href="https://github.com/felipewrany">
                    <img src="/img/giticon01.png" width="35"
                        onmouseover="this.src='/img/giticon02.png';"
                        onmouseout="this.src='/img/giticon01.png';">
                    </img>
                </a>
                <a href="https://www.linkedin.com/in/felipe-wrany/">
                    <img src="/img/linkedinicon01.png" width="35"
                        onmouseover="this.src='/img/linkedinicon02.png';"
                        onmouseout="this.src='/img/linkedinicon01.png';">
                    </img>
                </a>
            </div>
        </div>
        <div class="card-about">
            <div class="card-info">
                <img src="/img/Perfil-Gabriel.jpeg">
                <h2>Gabriel Matos</h2> 
            </div>
            <div class="card-social">
                <a href="https://github.com/gabrielmtss">
                    <img src="/img/giticon01.png" width="35"
                        onmouseover="this.src='/img/giticon02.png';"
                        onmouseout="this.src='/img/giticon01.png';">
                    </img>
                </a>
                <a href="https://www.linkedin.com/in/gabrielmtss/">
                    <img src="/img/linkedinicon01.png" width="35"
                        onmouseover="this.src='/img/linkedinicon02.png';"
                        onmouseout="this.src='/img/linkedinicon01.png';">
                    </img>
                </a>
            </div>
        </div>
    </section>
</body>
</html>