* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #3d1308;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.nav-left {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav-left a {
    color: #dcc48e;
    text-decoration: none;
}

.nav-right {
    display: flex;
    padding: 1rem;
    gap: 0.5rem 1rem;
}

.nav-right a {
    text-decoration: none;
    color: #dcc48e;
}

body {
    background-color: #dcc48e;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}