* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #3d1308;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:auto;
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#nav-left {
    display: flex;
    align-items: center;
}

#nav-left a {
    color: #dcc48e;
    text-decoration: none;
}

#nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-right a {
    text-decoration: none;
    color: #dcc48e;
}

body {
    background-color: #dcc48e;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}